extends layout
block content
  p
    | Have you ever wondered how important your friends are?
    | Now's your chance to find out. Log in with Facebook
    | and WBTSP will check to see which of your friends have visited the Whitehouse!
  p
    | Data transparency should be a basic democratic right. 
    | Governments around the world are becoming more open about their data,
    | but it's up to us to do something useful with that data. This is Jetpacking's first attempt.
block sidebar
  .widget
    h1 Login
    p
      | Log in with Facebook here