doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Who's been to 1600 Penn?
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Built by Jetpacking with love from Oakland, CA.
